.section {
  height: calc(100vh - 60px);
  background-color: #444;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__anchor {
  visibility: hidden;
  position: relative;
  top: -50px;
}
