* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: 'Open sans';
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: auto;
}
