.adv_form__input {
  color: #747474;
  border-radius: 0;
  background-color: #282828;
  height: 60px;
  width: 100%;
  max-width: 500px;
  border-color: #1b1c20;
  border-width: 2px;
}

.adv_form__button {
  height: 70px;
  background-color: #f6d367;
  font-size: 20px;
}
